* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: rgb(255, 226, 82);
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: rgb(255, 213, 0);
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px rgb(251, 255, 0);
  text-align: center;
  text-decoration: none;
  color: #555;
}

nav a[aria-current='page'] {
  color: #000;
  background-color: #ffe641;
}
.flexcontainer {
  display: flex;
  flex-flow: row wrap;
}
main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
/* keep things hidden at first */
.section {
  opacity: 0;
  transform: translateY(50px); /* keep it hidden until... */
  transition: opacity 1s ease, transform 1s ease; /* let there be words! and "ease" makes the big reveal all the more dramatic! */
}

.section.visible {
  opacity: 1;
  transform: translateY(0); /* end at a good spot. */
}
p {
  font-size: 20px;
}
button{
  background-color: #ffa200; /* gold background */
  color: white; 
  text-align: center;
  border-radius: 8px;
  padding: 15px 30px;
  font-size: large;
  align-items: center;
}
button:hover {
  background-color: #ff9d00; /* Darker goldish orange on hover */
  transition: transform 0.3s ease
}
button:active {
  transform: translateY(1px); 
}
.text-center-container {
  text-align: center; /* Centers all inline content inside the div */
}